.tile {
   display: inline-flex; 
   background-color: green;
}

.rock {
    background-image: url('/tiles/bomb.svg')
}

.tree {
    background-image: url('/tiles/tree.svg')
}

.grass {
    
    background-color: green;
    
}

/*background-image: url('/tiles/grass.svg') */